@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --lato: "Lato", sans-serif;
  --poppins: "Poppins", sans-serif;
}
* {
  font-family: var(--lato);
}

.hero {
  background-image: url("./img/jeremie-cremer-M5xVtIv1Lo8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-height: 600px;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  margin-top: -20%;
  margin-bottom: -3px;
  color: #1818189d;
  font-size: 25px;
}
.hero h1 {
  margin-bottom: 100px;
  font-size: 50px;
}

/*---------WEEK DEALS-------------*/
.w__deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 2px 3%;
    background-color:rgba(250, 245, 245, 0.959);
    padding-bottom: 50px;

}
.w__deals h2{
font-size: 50px;
  color: 
   rgba(59, 133, 230, 0.63);
  margin-bottom: 50px;
  font-family: "Lobster", cursive;
}

.w__deals .card{

}

.w__deals p{
font-size:14px;
min-height: 240px;

}

.div0 {
  max-width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------WELCOME-------------*/
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 2px 3%;
}
.welcome h2 {
  font-family: "Lobster", cursive;
  font-size: 50px;
  color: rgb(255, 123, 0);
  margin-bottom: 50px;
}

.welcome .card {
  min-height: 300px;
  margin-top: 20px;
  position: relative;
}
.welcome .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.welcome h5 {
  min-height: 50px;
}

.btn {
  background-color: rgb(29, 137, 209);
}

/*---------DEALS OF THE DAY-------------*/
.deals__day{
   display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 2px 3%;
}
.deals__day .row{
      background-color:rgba(235, 223, 223, 0.822);
      margin-left:-3%;
      margin-right:-3%;
    

}
.deals__day img{
margin-left:-5%;
margin-top:30px;
margin-top:-1%;
}
.deals__day h2{
    font-family: "Lobster", cursive;
  font-size: 50px;
  color: rgb(255, 123, 0);
  margin-bottom: 100px; 
  position: relative;
}
.deals__day h2:after{
   position: absolute;
   width:50%;
   height:2px;
   bottom:-20px;
   left:20%;
   content:"";
   background-color:rgb(255, 123, 0);

}
.deals__day-col{
  display: flex;
  flex-direction: column;
  align-items: center;

 
  justify-content: center;
  align-items: center;

}
.deals__day-col h4{ 
    text-align: center;
  margin-top:30px;
  margin-bottom:30px;
 


}
.deals__day-col h3{ 
    font-size:40px;
    color:rgb(29, 137, 209);
     font-family: "Lobster", cursive;
}
 
/*---------DEALS OF THE DAY-------------*/
.last-minute{
   display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 2px 3%;
}

.last-minute h2{
      font-family: "Lobster", cursive;
  font-size: 50px;
  color: rgb(255, 123, 0);
  margin-bottom: 50px; 
  position: relative;

}

/*---------FOOTER-------------*/
.footer-travel{
   display: flex;
  flex-direction: column;
  color:white;
  margin-bottom: 50px;
  padding: 2px 3%;
  min-height: 400px;
  background-color:#181818;
  padding-top:50px;
}

