@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;400;500;600;700;900&display=swap");

:root {
  --lato: "Lato", sans-serif;
  --poppins: "Poppins", sans-serif;
}
* {
  font-family: var(--lato);
}

.hero {
  background-image: url("./img/jeremie-cremer-M5xVtIv1Lo8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-height: 600px;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  margin-top: -15%;
  margin-bottom: -3px;
  color: #1818189d;
  font-size: 25px;
}
.hero h1 {
  margin-bottom: 20px;
  font-size: 50px;
}
